{% load static %}

<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="logo">CS50 PIZZA</div>
        <div class="user">{% block greeting %}{% endblock %}</div>
        {% block cart %}{% endblock %}
        <button class="button button-logout">Logout</button>
    </header>
    <hr>
    {% block main %}{% endblock %}
    
    <script type="module" src="{% static 'orders/scripts/cart.js' %}"></script>
    <script type="module" src="{% static 'orders/scripts/confirmWindow.js' %}"></script>
    <script type="module" src="{% static 'orders/scripts/script.js' %}"></script>
</body>